<div class="container">
    <form ng-submit="storefront.addAPet()">
        <div class="input-group">
            <div uib-dropdown>
                <button class="btn btn-default" type="button" uib-dropdown-toggle
                        aria-haspopup="true" aria-expanded="true">
                    {{storefront.pet.kind}}
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu aria-labelledby="kindOfPet">
                    <li ng-repeat="kindOfPet in storefront.kindsofPets"><a
                            ng-click="storefront.chooseKindOfPet(kindOfPet)">{{kindOfPet}}</a></li>
                </ul>
            </div>
            <input type="text" ng-model="storefront.pet.name" class="form-control" placeholder="What's its name?"
                   aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-success btn-circle">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </form>

    <div class="row">
        <div ng-repeat="pet in storefront.pets track by $index" class="col-md-3">
            <div class="thumbnail">
                <img src="/assets/images/dogs/dog1.jpg"
                     alt="{{pet.name}}, {{pet.kind}}"/>
                <div class="caption">
                    <h4>{{pet.name}}, {{pet.kind}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>