<div class="container buffer-top">
    <section name="pet-interaction">
        <form ng-submit="storefront.addAPet()" class="form-inline">
            <div uib-dropdown class="side-by-side">
                <button class="btn btn-default" type="button" uib-dropdown-toggle>
                    {{storefront.pet.kind}}
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu aria-labelledby="kindOfPet">
                    <li ng-repeat="kindOfPet in storefront.kindsofPets"><a
                            ng-click="storefront.chooseKindOfPet(kindOfPet)">{{kindOfPet}}</a></li>
                </ul>
            </div>
            <input type="text" ng-model="storefront.pet.name" class="form-control" placeholder="What's its name?" required>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </form>
    </section>
    <section name="pets" class="buffer-top">
        <div class="row">
            <div ng-repeat="pet in storefront.pets" class="col-md-3 fade">
                <div class="thumbnail">
                    <img src="/assets/images/animals/{{pet.kind}}.jpg"
                         alt="{{pet.description}}"
                          />
                    <div class="caption">
                        <h4>{{pet.description}}</h4>
                    </div>
                    <div>
                        <span class="caption">{{pet.status}}</span>
                        <button ng-click="storefront.removePet(pet)" type="button" class="btn small-buffer-right pull-right">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
